@import './base.css';

.header{
  width: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
}

.logo{
  width: 270px;
}

.searchbar{
  width: 35%;
  padding: 12px 12px;
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
  outline: none;
  border: none;
}

.excel-button{
  padding: 12px 14px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  background-color: #e84d0d;
  cursor: pointer;
  outline: none;
  border: none;
}

.title{
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.data{
  color: black;
}
