@import './base.css';

.header{
  width: 190vh;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 300px;
}

.searchbar{
  width: 45%;
  padding: 12px 12px;
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
  outline: none;
  border: none;
}

.excel-button{
  padding: 12px 14px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  background-color: #e84d0d;
  cursor: pointer;
  outline: none;
  border: none;
}

.title{
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}

.data{
  color: black;
}
